<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="refresh" content="10" >
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="navigation-bar">
      <ul>
        <li name="jigsUp"><a href="">JigsUp</a></li>
        <li name="adminChat"><a href="">Admin Chat</a></li>
        <li name="rules"><a href="">Rules</a></li>

        {{#if username}}
        <li style="float:right"><a href="/logout">Logout</a></li>
        <li style="float:right"><a href="">{{username}}</a></li>
        <li style="float:right"><a href="/list">List</a></li>
        <li style="float:right"><a href="/ticket">Ticket</a></li>
        {{#if administration}}
        <li id="admin" style="float:right"><a href="/register">Register</a></li>
        <li id="admin" style="float:right"><a href="/edit">Edit</a></li>
        <li id="admin" style="float:right"><a href="/editUser">Edit User</a></li>
        {{/if}}
        {{/if}}
      </ul>
    </div>
