{{> header}}

<script src="/js/libs/jquery-3.2.1.min.js"></script>
<script src="/js/fade.js"></script>

    <div class="centered-form">
      <div class="centered-form__form">
        <form action="/login" method="POST">
          <div class="form-field">
            <h3>Login</h3>
          </div>

          {{#if error}}
          <label class="message" style="color:red">{{error}}</label>
          {{/if}}

          <div class="form-field">
            <label>Username</label>
            <input type="text" name="username" autofocus/>
          </div>
          <div class="form-field">
            <label>Password</label>
            <input type="password" name="password"/>
          </div>
          <div class="form-field">
            <button>Connect</button>
          </div>
        </form>
      </div>
    </div>
  </body>

</html>
