{{> header}}

    <script src="/js/fade.js"></script>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Register</h3>
                    {{#if register}}
                    <label class="message" style="color:green">{{register}}</label>
                    {{/if}}
                    {{#if error}}
                    <label class="message" style="color:red">{{error}}</label>
                    {{/if}}
                </div>
                <div class="panel-body">
                    <form role="form" action="/register" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" name="username" type="text" required autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" required>
                            </div>
                            <button class="btn btn-lg btn-success btn-block">Register</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  </body>

</html>
