{{> header}}

  <script src="/js/fade.js"></script>

  <div class="row">
    <div class="col-lg-4 text-center col-lg-offset-4">
      {{#if error}}
      <div class="panel panel-danger" id="error">
        <div class="panel-heading">
        <h3>{{error}}</h3>
        </div>
      </div>
      {{else}}
      {{#if confirmation}}
        <div class="panel panel-success" id="success">
          <div class="panel-heading">
            <h3>{{confirmation}}</h3>
          </div>
        </div>
      {{else}}
      {{/if}}
      {{/if}}
    </div>
  </div>



  <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
          <div class="login-panel panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Angler Data</h3>
              </div>
              <div class="panel-body">
                  <form role="form" action="/ticket" method="POST">
                      <fieldset>
                          <div class="form-group">
                            <label>Ticket Number</label>
                            <input class="form-control" type="text" name="ticketNumber" autocomplete="off" autofocus>
                          </div>
                          <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" name="firstName" autocomplete="off">
                          </div>
                          <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" name="lastName" autocomplete="off">
                          </div>
                          <div class="form-group">
                            <label>Phone Number</label>
                            <input class="form-control" id="phone_us" type="text" name="phoneNumber" autocomplete="off">
                          </div>
                          <div class="form-group">
                            <label>Fish Species</label>
                            <select class="form-control" name="fish">
                              <option value=""></option>
                              <option value="Northern">Northern</option>
                              <option value="Walleye">Walleye</option>
                              <option value="Bass">Bass</option>
                              <option value="Yellow Perch">Yellow Perch</option>
                              <option value="Bluegill">Bluegill</option>
                              <option value="Crappie">Crappie</option>
                              <option value="Pumpkinseed">Pumpkinseed</option>
                              <option value="Sunfish">Sunfish</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Weight (lb)</label>
                            <input class="form-control" type="text" autocomplete="off" name="weight">
                          </div>
                          <button class="btn btn-lg btn-success btn-block">Submit</button>
                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
</body>



<script src="/js/messageClear.js"></script>
<script src="/js/phoneNumberSetup.js"></script>

</html>
