{{> header}}


  <script src="/js/libs/jquery-3.2.1.min.js"></script>
  <script src="/js/fade.js"></script>

    <div class="centered-form">
      <div class="centered-form__form">
        <form action="/ticket" method="POST">
          <div class="form-field">
            <h3>Angler Data</h3>
          </div>
          {{#if error}}
          <label class="message" style="color:red">{{error}}</label>
          {{/if}}

          {{#if confirmation}}
          <label class="message" style="color:green">{{confirmation}}</label>
          {{/if}}
          <div class="form-field">
            <label>Ticket Number</label>
            <input type="text" name="ticketNumber" autocomplete="off" autofocus>
          </div>
          <div class="form-field">
            <label>First Name</label>
            <input type="text" name="firstName" autocomplete="off" autofocus>
          </div>
          <div class="form-field">
            <label>Last Name</label>
            <input type="text" name="lastName" autocomplete="off" autofocus>
          </div>

          <div class="form-field">
            <label>Fish Species</label>
            <select name="fish">
              <option value=""></option>
              <option value="fish1">Fish1</option>
              <option value="fish2">Fish2</option>
              <option value="fish3">Fish3</option>
              <option value="fish4">Fish4</option>
            </select></div>
          <div class="form-field">
            <label>Weight (lb)</label>
            <input type="text" autocomplete="off" name="weight">
          </div>
          <div class="form-field">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
