* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: .95rem;
}

button {
  border: none;
  background: #265f82;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background .3s ease;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

caption {
    font-weight:bold
}

ul, li {
  list-style-position: inside;
}

table, th, td {
  border: 1px solid black;
}

table {
  border-spacing: 0px;
  width: 100%;
}

th, td {
  padding: 15px;
}

td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

th {
  text-align: center;
  font-weight: bold;
}

#admin {
  background-color: #813154;
}

.login li {
  float: right;
}

.message {
  display: block;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

td input {
  width: 100%;
}

td button {
  display: block;
  width: 100px;
  margin: auto;
}

td #delete {
  display: none;
  width: 100px;
  margin: auto;
}
.centered-form {
  display: block;
  position: relative;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  overflow: scroll;
  z-index: 1;
  padding-top: 120px;
  background: -moz-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(49,84,129,1)), color-stop(100%, rgba(39,107,130,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ie10+ */
  background: linear-gradient(325deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* w3c */
}

.centered-form__form {
  display: block;
  background: rgba(250, 250, 250, 0.9);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 0px 20px;
  margin: auto;
  width: 230px;
}

.centered-tab {
  display: block;
  position: relative;
  background: rgba(250, 250, 250, 0.9);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  border-style: none;
  padding: 0;
  top: 50px;
  margin: 20px auto;
  width: 1000px;
  min-height: 55px;
  height: auto;
}

.info_form {
  padding: auto;
  margin: auto;
}

.info_stuff {
  display: inline-block;
  margin: auto;
  float: left;
  align-items: center;
}

div#error.centered-tab {
  background-color: #B33A3A;
  font-size: 45px;
  text-align: center;
}

div#success.centered-tab {
  background-color: #4BB543;
  font-size: 45px;
  text-align: center;
}

.centered-tab__title {
  height: 40px;
  width: 100%;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  vertical-align: middle;
  line-height: 40px;
  margin: 0;
  background: #c4c4c4;
}

.form-field {
  margin: 20px 0;
}

.form-field > * {
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 7px;
}

.form-field select {
  display: block;
  margin-bottom: 7px;
}

.form-field input, .form-field select {
  border: 1px solid #e1e1e1;
  padding: 10px;
}

.navigation-bar {
  float: left;
}

.navigation-bar ul {
  position: fixed;
  width: 100%;
  height: 44px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e1e1e1;
  z-index: 2;
}

.navigation-bar li {
  float: left;
}

.navigation-bar li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-bar li:last-child {
    border-right: none;
}

.navigation-bar li a:hover {
  background-color: black;
  color: white;
  transition: all .4s ease;
}

/* .slideThree */
.slideThree {
  width: 100px;
  height: 26px;
  background: #333;
  margin: 0 auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
  content: 'Update';
  color: #FFF;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
  content: 'Delete';
  color: red;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: block;
  width: 44px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
  visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
  width: 49px;
  left: 48px;
}


.squaredThree {
  width: 20px;
  position: relative;
  margin: 20px auto;
}
.squaredThree label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.squaredThree label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.squaredThree label:hover::after {
  opacity: 0.3;
}
.squaredThree input[type=checkbox] {
  visibility: hidden;
}
.squaredThree input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .squaredThree */


/* end .slideThree */

@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .chat__sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer form {
    margin-bottom: 10px;
  }

  .chat__footer button {
    margin-right: 0px;
  }
}
